
{% load static %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{% static 'dashboard/images/icon/logo.png' %}" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="{% url 'main_dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}"><i class="fas fa-chart-bar"></i>Categories</a>
                </li>
                <li>
                    <a href="{% url 'product_list' %}"><i class="fas fa-chart-bar"></i>Products</a>
                </li>
                <li>
                    <a href="{% url 'user_list' %}"><i class="fas fa-chart-bar"></i>Users</a>
                </li>
                <li>
                    <a href="{% url 'order_list' %}"><i class="fas fa-chart-bar"></i>Orders</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->